@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    height: 100%;
    width: 100%;
    display: table;
}

.item-description {
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
}



.item-completed:checked + .item-description {
    background: #dddddd;
    text-decoration: line-through;

}

#add {
    padding: 8px 14px;
    font-weight: bold;
    color: #ffffff;
    background: #009578;
    cursor: pointer;
}

.itemCreated {
    font-size: 12px;
    color: #999999;
    margin-left: 10px;
}

.item {
    display: flex;
    align-items: center;
} */